body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}
.container {
    padding: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table tr:nth-child(even) {
    background-color: beige;
}

th {
    background-color: teal;
    text-align: center;
    padding: 10px;
    color: white;
}
td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.total-section {
    text-align: right;
    margin-top: 30px;
    font-size: 1rem;
}